.ng-password-strength-bar {
    width: 180px;
    height: 3px;
    background-color: #eee;
    margin-top: 3px;
}

.ng-password-strength-bar-inner {
    height: 100%;
}

.ng-password-strength-bar-inner.green {
    background-color: #61ae00;
}

.ng-password-strength-bar-inner.orange {
    background-color: #F90;
}

.ng-password-strength-bar-inner.red {
    background-color: #F00;
}